.bottom-bar{

    position:fixed;

    left:0;

    right:0;

    bottom:0;

    height:65px;

    background:#fff;

    border-top:1px solid var(--border-color);

    display:none;

    justify-content:space-around;

    align-items:center;

    z-index:1000;

}

.bottom-link{

    color:#000;

    font-size:24px;

    text-decoration:none;

    transition:.3s;

}

.bottom-link.active{

    color:var(--primary-color);

}

@media(max-width:992px){

    .bottom-bar{

        display:flex;

    }

    

}