.main-layout {

    display: grid;

    grid-template-columns: 250px 1fr 320px;

    gap: 20px;

    max-width: 1400px;

    margin: auto;

    padding: 20px;

}

.main-content {

    width: 100%;

}

@media(max-width:992px) {

    .main-layout {

        grid-template-columns: 1fr;

        padding: 10px;

    }

    .main-content {

        padding-bottom: 80px;

    }

}